name: Node.js Alpha-Package

on:
  push:
    branches:
      - dev

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: fregante/setup-git-user@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
      - name: Install dependencies
        run: yarn install
      - name: Build cjs
        run: yarn build
      - name: Extract version
        id: extract_version
        uses: Saionaro/extract-package-version@v1.2.1
      - name: Set version
        run: npm version ${{ steps.extract_version.outputs.version }} --no-git-tag-version --preid alpha
      - name: Release on NPM
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}